body {
  margin: 0;
  padding: 0;
  background-color: #FFF5DA;
  color: #54436B;
}

.intro-container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
}

.intro-container-about .cards-items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.intro-container-about .computer-section, .intro-container-about .cake-section, .intro-container-about .camera-section, .intro-container-about .about-myself {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.intro-container-about .computer-section .img-display-itmes, .intro-container-about .cake-section .img-display-itmes, .intro-container-about .camera-section .img-display-itmes, .intro-container-about .about-myself .img-display-itmes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  margin: auto;
}

.intro-container-about .computer-section .img-display-itmes img, .intro-container-about .cake-section .img-display-itmes img, .intro-container-about .camera-section .img-display-itmes img, .intro-container-about .about-myself .img-display-itmes img {
  width: 32%;
  margin-bottom: 2%;
  /* (100-32*3)/2 */
  position: relative;
  border-radius: 10%;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.intro-container-about .computer-section .img-display-itmes img:not(.profile-me-img):hover, .intro-container-about .cake-section .img-display-itmes img:not(.profile-me-img):hover, .intro-container-about .camera-section .img-display-itmes img:not(.profile-me-img):hover, .intro-container-about .about-myself .img-display-itmes img:not(.profile-me-img):hover {
  -webkit-transform: scale(2) rotate(0.01deg);
          transform: scale(2) rotate(0.01deg);
  z-index: 1;
}

.intro-container-about .camera-section {
  background-color: rgba(127, 200, 169, 0.3);
}

.intro-container-about .camera-section .camera-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro-container-about .camera-section .camera-imgs .column-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

.intro-container-about .camera-section .camera-imgs .column-flex img {
  width: 100%;
}

.about-myself p {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

.about-myself .profile-me-img {
  border-radius: 10%;
  display: block;
  margin: auto;
  border-radius: 20px;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
/*# sourceMappingURL=about.css.map */