@import "variables";
body{
   
    background-color: $text-color;
    color: $text-color-body;

}
.intro-container-about{
    // padding-top:200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    .cards-items{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .computer-section , .cake-section, .camera-section {

        width:100%;
        
        /////display container////
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        .img-display-itmes{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width:50%;
            margin: auto;
        
        img{
            width: 32%;
            //padding-bottom: 2%; /* Same as width, sets height */
            margin-bottom: 2%; /* (100-32*3)/2 */
            position: relative;
            border-radius: 10%;
            box-shadow: 5px 5px 15px 5px grey;
            transition: transform 0.4s;
            
        }
        img:not(.profile-me-img):hover {
            transform: scale(2) rotate(0.01deg);
            z-index: 1;
           
          }
        
    }
}
.camera-section{
    background-color: $container-color;
    .camera-imgs {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        align-content: center;
    
        .column-flex{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width:30%;
            img{
                width: 100%;

            }
           
        }
        
    }
    
}

.about-myself{
    width:100%;
        
    /////display container////
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    p{
        width: 80%;
    font-size: 1.2rem;
    font-family: $font-body;
    font-weight: 300;
    margin: auto;
    padding-bottom: 8vh;
    
    }
    .profile-me-img{
        border-radius: 10%;
        display: block;
        margin: auto;
        border-radius: 20px;
        object-position: 50% 50%;

        
    }
    .img-display-items{
        width:100%;
        background-color: red;
    }
}


}
@media screen and (max-width: 1024px){
    .profile-me-img {
        width:20%;
    }
    }


