@import "variables";


.main-nav
{
  width:100vw;
  position: relative;  
  display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 20vh;
    
   
    .logo{  
        color:$logo-color;
        line-height: 40px;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        margin-left: 30px;
        font-family:$font-logo ;
        letter-spacing: .15em; 
        //----typping annimation-------
        // border-right: .15em solid $text-color; /* The typwriter cursor */
        // animation: typing 1.5s steps(10, end),
        // blink-caret .75s step-end infinite;
        // @keyframes blink-caret {
        //   from, to { border-color: transparent }
        //   25% { border-color: $text-color; }
        // }
        // -----typing annimation end----//
      }
    .navlinks{
      list-style: none;
      float:right;
      line-height: 90px;
      margin: 0;
      padding: 0;
       li{
        display:inline-block; 
        margin: 0 20px;
          a {
              color: $text-color;
              text-decoration: none;
              font-size: 15px;
              text-transform: uppercase;
              transition: all 0.3s linear 0s;    
          }
          a:hover{
              color: #D2E603;
              padding-bottom: 6px;
              border-bottom: 2px solid #D2E603;
          }
          .contact{
              color:$header-color;
              background-color:$text-color;
              padding: 9px 20px;
              border-radius: 50px;
              transition: all 0.3s linear 0s;
          }
          .contact:hover{
              border-color:$header-color;
              color: $header-color;     
          }
        } 
      }
      .hamburger {
        display: none;
          .bar {
              width: 25px;
              height: 3px;
              margin: 5px auto;
              transition: all 0.3s ease-in-out;
              background-color: $text-color;
           
          }
     }
    }

        
        
        
//-----hamburger nav bar---------