body {
  margin: 0;
  padding: 0;
  background-color: #FFF5DA;
  color: #54436B;
}

.intro-container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
}

.intro-container-about .cards-items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.intro-container-about .computer-section, .intro-container-about .cake-section, .intro-container-about .camera-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.intro-container-about .computer-section .img-display-itmes, .intro-container-about .cake-section .img-display-itmes, .intro-container-about .camera-section .img-display-itmes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.intro-container-about .computer-section .img-display-itmes img, .intro-container-about .cake-section .img-display-itmes img, .intro-container-about .camera-section .img-display-itmes img {
  width: 32%;
  margin-bottom: 2%;
  /* (100-32*3)/2 */
  position: relative;
  border-radius: 10%;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
}

.intro-container-about .camera-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro-container-about .camera-imgs .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.intro-container-about .cake-section {
  background-color: rgba(127, 200, 169, 0.3);
}

/* ------------The flip card styling-------------- */
.flip-card-container {
  position: relative;
  width: 40%;
  height: 250px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15%;
  text-align: center;
}

/*-------------------flip cake style---------------*/
@media screen and (max-width: 675px) {
  .main-nav {
    height: 10vh;
    position: fixed;
  }
  .main-nav .main-nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav .main-nav-container .logo {
    left: 90px;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 30px 0;
    margin-left: 0;
  }
  .main-nav .main-nav-container .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .main-nav .main-nav-container .navlinks {
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: none;
  }
  .main-nav .main-nav-container .navlinks li {
    display: block;
    background-color: #7FC8A9;
    border-top: 1px solid #FFF5DA;
  }
  .main-nav .main-nav-container .active {
    display: block;
  }
  .flip-cake-container {
    width: 80%;
  }
  .flip-cake-front img {
    margin-top: 30%;
  }
  .flip-card-front img {
    margin-top: 30%;
  }
  .flip-card-container {
    width: 80%;
  }
}
/*# sourceMappingURL=about.css.map */