@import "variables";
body{
    margin:0;
    padding: 0; 
    background-color: $text-color;
    color: $text-color-body;

}
.intro-container-about{
    padding-top:200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    .cards-items{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .computer-section , .cake-section, .camera-section{

        width:100%;
        /////display container////
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        .img-display-itmes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width:80%;
        margin: auto;
        img{
            width: 32%;
            //padding-bottom: 2%; /* Same as width, sets height */
            margin-bottom: 2%; /* (100-32*3)/2 */
            position: relative;
            border-radius: 10%;
            box-shadow: 5px 5px 15px 5px grey;
        }
        
    }
}
.camera-imgs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    .img{
        flex: 0 0 auto;
    }
}

    .cake-section{
        background-color: $container-color;
    }


}



/* ------------The flip card styling-------------- */
.flip-card-container{
    position: relative;
    width: 40%;
    
    height: 250px;
    
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15%;
    text-align: center;
  
}


/*-------------------flip cake style---------------*/




@media  screen and (max-width: 675px) {
    .main-nav{
     
     height: 10vh;
     position:fixed;
     .main-nav-container{
      
       flex-direction: column;
       .logo{
         left:90px;
         font-size: 20px;
         line-height: 20px;
         margin:10px 0 30px 0;
         margin-left: 0;
         
       }
       .hamburger{
         display:block;
         position: absolute;
         right:15px;
         top:15px;
       }
       .navlinks{
         width:100%;
         list-style-type: none;
         text-align: center;
         display: none;
         
         li{
           display: block;
           background-color: $header-color;
           border-top: 1px solid $text-color;
         }
         
       }
       .active{
         display: block;
       }
     }
   }
  
.flip-cake-container{
    width: 80%;
   
   
}
.flip-cake-front img{
    margin-top:30%;
}
.flip-card-front img{
    margin-top:30%;
}
.flip-card-container{
    width: 80%;
   
}
  }  


