@import "variables";

.blog-post-container{
    padding-top:200px;
    width: 80%;
    margin: auto;

   .blog-post{
    @include containers-with-two-col;
    justify-content: center;
   }
   .blog-header{
       width: 100%;
       @include containers-with-two-col;
    justify-content: center;
   }
   .blog-header-img{
       width: 60%;
       margin: auto;
   }
  
  .blog-metadata{
  overflow: hidden;
    
    letter-spacing: 0.03em;
    color: rgba(84, 67, 107, 0.54);
     font-weight: bolder;
     font-family: $font-body;
     margin-bottom: 0; 
  }
  .divider{
    padding-right: .45em;
    padding-left: .45em;
    font-size: 15px;
  }
  
  .folder-icon{
    padding-right: 4px;
  }
  .blog-body{
    p{
    font-size: 1.5rem;
    }
  }
}
.socila-media-container{
  img{
  width:30px;
  height: 30px;
  }
}