@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@202;300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF5DA;
  color: #54436B;
}

.landing-container {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 90%;
  margin: auto;
}

.landing-container .profile-col {
  max-width: 100%;
}

.landing-container .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.landing-container .profile .profile-img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin: 0 0 20px 0;
}

.landing-container .profile h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0 10px;
  line-height: 1.5vh;
  white-space: nowrap;
}

.landing-container .profile h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0 10px;
}

.landing-container .profile .socila-media-container img {
  width: 30px;
  height: 30px;
}

.landing-container .bio {
  position: relative;
  margin: 20px 25px 10px 25px;
  width: 100%;
}

.landing-container .bio h1 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.landing-container .bio p {
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
  word-wrap: break-word;
}

.landing-container .bio .education-intrests {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .bio .education-intrests .interests-section {
  width: 40%;
}

.landing-container .bio .education-intrests .interests-section h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Merriweather", serif;
  margin-bottom: 0;
}

.landing-container .bio .education-intrests .interests-section ul {
  padding: 0;
  margin: 0;
}

.landing-container .bio .education-intrests .education-section {
  width: 40%;
}

.landing-container .bio .education-intrests .education-section h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Merriweather", serif;
  margin-bottom: 0;
}

.landing-container .bio .education-intrests .education-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.landing-container .bio .education-intrests .education-section ul li {
  background: url("../images/mortarboard.png") no-repeat left 9px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 40px;
  margin: 0;
  padding: 0 0 0 45px;
}

.landing-container .bio .education-intrests .education-section ul li .institution {
  font-size: .75rem;
  color: rgba(0, 0, 0, 0.6);
}

/* Navigation bar */
.main-nav {
  font-family: "Ubuntu", sans-serif;
  background-color: #7FC8A9;
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
  z-index: 10;
  height: 15vh;
  position: fixed;
}

.main-nav .main-nav-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .main-nav-container .logo {
  color: #54436B;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "Gloria Hallelujah", cursive;
  letter-spacing: .15em;
}

.main-nav .main-nav-container .navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.main-nav .main-nav-container .navlinks li {
  display: inline-block;
  margin: 0 20px;
}

.main-nav .main-nav-container .navlinks li a {
  color: #FFF5DA;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.main-nav .main-nav-container .navlinks li a:hover {
  color: #D2E603;
  padding-bottom: 6px;
  border-bottom: 2px solid #D2E603;
}

.main-nav .main-nav-container .navlinks li .contact {
  color: #7FC8A9;
  background-color: #FFF5DA;
  padding: 9px 20px;
  border-radius: 50px;
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.main-nav .main-nav-container .navlinks li .contact:hover {
  border-color: #7FC8A9;
  color: #7FC8A9;
}

.main-nav .main-nav-container .hamburger {
  display: none;
}

.main-nav .main-nav-container .hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #FFF5DA;
}

.skills-container {
  position: relative;
  background-color: rgba(127, 200, 169, 0.3);
  width: 100%;
  height: auto;
}

.skills-container .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}

.skills-container .rows div {
  text-align: center;
  width: 30%;
  height: 30%;
  padding: 20px;
}

.skills-container .rows div img {
  width: 90px;
  height: 90px;
}

.posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.posts-container .post-box-title {
  margin-left: 20px;
}

.posts-container .post-list-body {
  width: 80vw;
  margin: auto;
}

.posts-container .post-list-body .post-list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.posts-container .post-list-body .post-list-items .post-info {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.posts-container .post-list-body .post-list-items .post-info h1 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.posts-container .post-list-body .post-list-items .post-info a {
  text-decoration: none;
  color: #54436B;
}

.posts-container .post-list-body .post-list-items .post-info h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Merriweather", serif;
  margin-bottom: 0;
}

.posts-container .post-list-body .post-list-items .post-info p {
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
  margin-top: 0;
}

.posts-container .post-list-body .post-list-items .post-info .divider {
  margin: 2px;
}

.posts-container .post-list-body .post-list-items .post-info .folder-icon {
  padding-right: 4px;
}

.posts-container .post-list-body .post-list-items .post-pic {
  width: 150px;
  height: 150px;
  padding-bottom: 10px;
}

.posts-container .post-list-body .post-list-items .post-pic .blog-pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
  margin-bottom: 10px;
}

.project-container {
  background-color: rgba(127, 200, 169, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-top: 105px;
}

.project-container .project-box-title {
  margin-left: 20px;
}

.project-container .project-list-body {
  width: 80vw;
  margin: auto;
}

.project-container .project-list-body .project-list-items {
  -webkit-box-shadow: 5px 5px 15px 3px gray;
          box-shadow: 5px 5px 15px 3px gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  margin-bottom: 1.5rem;
}

.project-container .project-list-body .project-list-items:hover {
  -webkit-box-shadow: 5px 5px 15px 9px gray;
          box-shadow: 5px 5px 15px 9px gray;
}

.project-container .project-list-body .project-list-items .project-info {
  width: 100%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.project-container .project-list-body .project-list-items .project-info h1 {
  font-size: 2rem;
  font-family: "Merriweather", serif;
}

.project-container .project-list-body .project-list-items .project-info a {
  text-decoration: none;
  color: #54436B;
}

.project-container .project-list-body .project-list-items .project-info h3 {
  font-size: 1.2rem;
  font-weight: bolder;
  font-family: "Merriweather", serif;
  margin-bottom: 0;
}

.project-container .project-list-body .project-list-items .project-info p {
  font-family: "Merriweather", serif;
  font-size: 0.8rem;
  margin-top: 0;
}

.project-container .project-list-body .project-list-items .project-info .divider {
  margin: 2px;
}

.project-container .project-list-body .project-list-items .project-info .folder-icon {
  padding-right: 4px;
  width: 20px;
  height: 20px;
}

.project-container .project-list-body .project-list-items .project-pic {
  padding-bottom: 10px;
  width: 20%;
}

.project-container .project-list-body .project-list-items .project-pic .project-screenshot {
  width: 100%;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
  margin-bottom: 10px;
}

.bottom-container {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .main-nav {
    height: 10vh;
  }
}

@media screen and (max-width: 675px) {
  .main-nav {
    height: 10vh;
    position: fixed;
  }
  .main-nav .main-nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav .main-nav-container .logo {
    left: 90px;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 30px 0;
    margin-left: 0;
  }
  .main-nav .main-nav-container .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .main-nav .main-nav-container .navlinks {
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: none;
  }
  .main-nav .main-nav-container .navlinks li {
    display: block;
    background-color: #7FC8A9;
    border-top: 1px solid #FFF5DA;
  }
  .main-nav .main-nav-container .active {
    display: block;
  }
  .landing-container {
    padding-top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-container .profile-img {
    width: 170px;
    height: 170px;
  }
  .landing-container h2 {
    font-size: 0.75em;
    line-height: 1;
  }
  .landing-container h3 {
    font-size: 0.5rem;
    line-height: 1;
  }
  .landing-container .bio {
    margin: auto;
  }
}

/* Navigation bar */
body {
  margin: 0;
  padding: 0;
  background-color: #FFF5DA;
  color: #54436B;
}

.project-snake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 200px;
  width: 100%;
}

.project-snake .article-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  gap: 20px;
}

.project-snake .article-header .header-img img {
  width: 100%;
}

.project-snake .article-header h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 20px 0 10px;
  line-height: 1.5vh;
  white-space: nowrap;
  text-align: center;
}

.project-snake .article-header h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px 0 10px;
}

.project-snake .article-header .github-folder-icon {
  width: 30px;
  height: 30px;
  text-decoration: none;
  padding: 2px 10px 2px 10px;
  border-top: 1px solid #54436B;
  border-right: 1px solid #54436B;
  border-bottom: 1px solid #54436B;
  border-left: 1px solid #54436B;
  border-radius: 25%;
}

.project-snake .article-content p {
  padding: 20px;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

@media screen and (max-width: 675px) {
  .main-nav {
    height: 10vh;
    position: fixed;
  }
  .main-nav .main-nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav .main-nav-container .logo {
    left: 90px;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 30px 0;
    margin-left: 0;
  }
  .main-nav .main-nav-container .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .main-nav .main-nav-container .navlinks {
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: none;
  }
  .main-nav .main-nav-container .navlinks li {
    display: block;
    background-color: #7FC8A9;
    border-top: 1px solid #FFF5DA;
  }
  .main-nav .main-nav-container .active {
    display: block;
  }
  .article-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-form-section {
  padding-top: 200px;
  width: 80%;
  margin: auto;
}

.contact-form-section .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form-section .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form-section .form-content .visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.contact-form-section .form-content input, .contact-form-section .form-content textarea {
  margin-bottom: 1rem;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out,-webkit-box-shadow 0.15s ease-in-out;
}

.contact-form-section .form-content textarea {
  overflow: auto;
  resize: vertical;
  font-family: inherit;
}

.contact-form-section .btn-submit {
  background-color: #7FC8A9;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #FFF5DA;
  font-family: "Merriweather", serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7fc8aa;
}

.contact-form-section .btn-submit .btn-submit:hover {
  background-color: #5cbf2a;
}

.contact-form-section .btn-submit .btn-submit:active {
  position: relative;
  top: 1px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #FFF5DA;
  color: #54436B;
}

.intro-container-about {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: auto;
}

.intro-container-about .cards-items {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.intro-container-about .computer-section, .intro-container-about .cake-section, .intro-container-about .camera-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
}

.intro-container-about .computer-section .img-display-itmes, .intro-container-about .cake-section .img-display-itmes, .intro-container-about .camera-section .img-display-itmes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
}

.intro-container-about .computer-section .img-display-itmes img, .intro-container-about .cake-section .img-display-itmes img, .intro-container-about .camera-section .img-display-itmes img {
  width: 32%;
  margin-bottom: 2%;
  /* (100-32*3)/2 */
  position: relative;
  border-radius: 10%;
  -webkit-box-shadow: 5px 5px 15px 5px grey;
          box-shadow: 5px 5px 15px 5px grey;
}

.intro-container-about .camera-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.intro-container-about .camera-imgs .img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.intro-container-about .cake-section {
  background-color: rgba(127, 200, 169, 0.3);
}

/* ------------The flip card styling-------------- */
.flip-card-container {
  position: relative;
  width: 40%;
  height: 250px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15%;
  text-align: center;
}

/*-------------------flip cake style---------------*/
@media screen and (max-width: 675px) {
  .main-nav {
    height: 10vh;
    position: fixed;
  }
  .main-nav .main-nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-nav .main-nav-container .logo {
    left: 90px;
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0 30px 0;
    margin-left: 0;
  }
  .main-nav .main-nav-container .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .main-nav .main-nav-container .navlinks {
    width: 100%;
    list-style-type: none;
    text-align: center;
    display: none;
  }
  .main-nav .main-nav-container .navlinks li {
    display: block;
    background-color: #7FC8A9;
    border-top: 1px solid #FFF5DA;
  }
  .main-nav .main-nav-container .active {
    display: block;
  }
  .flip-cake-container {
    width: 80%;
  }
  .flip-cake-front img {
    margin-top: 30%;
  }
  .flip-card-front img {
    margin-top: 30%;
  }
  .flip-card-container {
    width: 80%;
  }
}

.blog-post-container {
  padding-top: 200px;
  width: 80%;
  margin: auto;
}

.blog-post-container .blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-post-container .blog-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-post-container .blog-header-img {
  width: 60%;
  margin: auto;
}

.blog-post-container .blog-metadata {
  overflow: hidden;
  letter-spacing: 0.03em;
  color: rgba(84, 67, 107, 0.54);
  font-weight: bolder;
  font-family: "Merriweather", serif;
  margin-bottom: 0;
}

.blog-post-container .divider {
  padding-right: .45em;
  padding-left: .45em;
  font-size: 15px;
}

.blog-post-container .folder-icon {
  padding-right: 4px;
}

.blog-post-container .blog-body p {
  font-size: 1.5rem;
}

.socila-media-container img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=main.css.map */