$text-color : #FFF5DA;
$header-color : #7FC8A9;
$font-header:'Ubuntu', sans-serif;
// $font-logo:'Roboto Mono', monospace;
$font-logo: 'Gloria Hallelujah', cursive;
$logo-color:#54436B;
$text-color-body:#54436B;
$h2-font:'Montserrat', sans-serif;//profile name h2
$font-body:'Merriweather', serif;
$container-color:rgba(127,200,169,0.3);

